@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
  --big-shoulders: 'Big Shoulders Display', cursive;
  --lexend-deca: 'Lexend Deca', sans-serif;
  --radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  background-color: var(--very-light-gray);
}

.cards-container {
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  justify-content: center;
  align-items: center;
}

.single-card {
  width: 326px;
  height: 442px;
  padding: 3rem;
}

.card-1 {
  background-color: var(--bright-orange);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.card-2 {
  background-color: var(--dark-cyan);
}

.card-3 {
  background-color: var(--very-dark-cyan);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.card-icon {
  color: hsla(0, 0%, 100%, 0.75);
}

h2 {
  font-family: var(--big-shoulders);
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--very-light-gray);
  margin: 2rem 0;
}

p {
  font-family: var(--lexend-deca);
  color: var(--transparent-white);
  line-height: 1.45;
}

button {
  background-color: var(--very-light-gray);
  border-radius: 2rem;
  width: 146px;
  height: 48px;
  outline: none;
  border: 2px solid var(--very-light-gray);
  font-family: var(--lexend-deca);
  font-size: 0.925rem;
  margin: 2rem 0;
  transition: all 0.3s ease;
}

.button-1 {
  color: var(--bright-orange);
}

.button-1:hover,
.button-1:active {
  background-color: var(--bright-orange);
  color: var(--very-light-gray);
}

.button-2 {
  color: var(--dark-cyan);
}

.button-2:hover,
.button-2:active {
  background-color: var(--dark-cyan);
  color: var(--very-light-gray);
}

.button-3 {
  color: var(--very-dark-cyan);
}

.button-3:hover,
.button-3:active {
  background-color: var(--very-dark-cyan);
  color: var(--very-light-gray);
}

.attribution {
  font-family: var(--primary-font);
  color: var(--transparent-white);
  font-size: 13px;
  text-align: center;
  margin-bottom: 0.5rem;
}

.attribution a {
  color: var(--soft-violet);
  text-decoration: none;
}

@media (min-width: 768px) {
  .cards-container {
    flex-direction: row;
  }

  .single-card {
    width: 306px;
    height: 500px;
  }

  button {
    margin-top: 5.75rem;
  }

  .card-1 {
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--radius);
  }

  .card-3 {
    border-bottom-left-radius: 0;
    border-top-right-radius: var(--radius);
  }
}
